<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:facebook="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="NoWaste"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoWaste"
        tools:targetApi="31">
        <activity
            android:name=".ListPage"
            android:exported="false" />
        <activity
            android:name=".ListaAlimentiScadenza"
            android:exported="false" />
        <activity
            android:name=".ListaAlimentiScaduti"
            android:exported="false" />
        <activity
            android:name=".DetailListActivity"
            android:exported="false" />
        <activity
            android:name=".CustomListView"
            android:exported="false"
            android:label="@string/title_activity_custom_list_view"
            android:theme="@style/Theme.NoWaste" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoWaste">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
    </application>

</manifest>